<footer class="footer">
    <div class="container footer-container">
      <div class="row">
        <!-- Left Section -->
        <div class="col-md-6 footer-left">
          <p>&copy; <span id="currentYear"></span> CryptoxlPeso. All Rights Reserved.</p>
        </div>
        
        <!-- Right Section -->
        <div class="col-md-6 footer-right text-md-right">
          <p>Developed by <a href="https://www.linkedin.com/in/tyraclemente/" target="_blank" class="dev-link">Tyra Clemente</a></p>
        </div>
      </div>
    </div>
  </footer>
  
  <script>
    document.getElementById("currentYear").textContent = new Date().getFullYear();
  </script>
  